*{padding: 0px; margin: 0px; box-sizing: border-box; font-family:sans-serif;}
.bgcolor{background-color:#2874F0;}
.boxContainer{width: 30rem; height: 35px; border: 1px solid #fff; padding: 0px 10px; box-shadow:2px 3px 5px grey;}
.elememtsContainer {width:100%; height:100%; vertical-align: middle;}
.search {border:none; height: 100%; width: 100%; padding:0px 5px; font-size: 15px; color:black; font-weight: 500;}
.search:focus{outline:none;}
.seicon{font-size: 10; color:#fff; text-align: center;}
.Ufont{color: white; font-weight: bold;}	
.seicon:hover{color:black;}
.iconcen{margin-top: 2px;}
.menu2dropdown {width: 100%; height: 40px; background: #fff; box-shadow:2px 1px 8px grey;}
.menu2dropdown table {margin-left: 80px;}
.autocom-box {padding:0px; max-height:280px; overflow-y:auto; background:#fff; width:409px; opacity:0; pointer-events:none;}
.autocom-box li { list-style:none; padding: 12px 12px; width:100%; cursor:default; display:none;}
.autocom-box li:hover {background:#F5FAFF}
.boxContainer.active .autocom-box{padding:10px 8px; opacity:1; pointer-events:auto;}
.boxContainer.active .autocom-box li {display:block;}



/* -----------------Dekstop and laptopes --------------------- */
              @media (min-width: 1024px){
                  
        
              }

                /* ----------------- Tablates --------------------- */
               @media (min-width: 769px) and (max-width: 1023px){
                  
                  
               }

              /*--------------------- Mobile Phones----------------------------*/
			@media (max-width: 768px){
              .menu2dropdown {display: none;}
             
              .weluser {width: 350px;}

			}

			@media (max-width: 468px){}