*{padding: 0px; margin: 0px; box-sizing: border-box; font-family:font-family: Roboto,Arial,sans-serif;}
.bgcolor{background-color:#2874F0;}
.boxContainer{width: 30rem; height: 35px; border: 1px solid #fff; padding: 0px 10px; box-shadow:2px 3px 5px grey;}
.elememtsContainer {width:100%; height:100%; vertical-align: middle;}
.search {border:none; height: 100%; width: 100%; padding:0px 5px; font-size: 15px; color:black; font-weight: 500;}
.search:focus{outline:none;}
.seicon{font-size: 10; color:#fff; text-align: center;}
.Ufont{color: white; font-weight: bold;}	
.seicon:hover{color:black;}
.iconcen{margin-top: 2px;}
.menu2dropdown {width: 100%; height: 40px; background: #fff; box-shadow:2px 1px 8px grey;}
.menu2dropdown table {margin-left: 80px;}
.Mainbg {background:#F1F3F6; height:32rem; width: 100%; padding-top:15px;}
.Maindiv {width:85%; margin-left: 55px;}
.secdivright{height: 32rem; background:#fff; box-shadow: 6px -7px 18px -1px rgba(0,0,0,0.15);}
.firstdiv {height:32rem; background: #fff;}
.allch {padding-top:25px; padding-bottom:3px;}
.fldiv {display: flex;}
.fldiv img {width:55px; height:55px; border-radius:50%;}
.chatbox {background-color:#F1F3F6; height:100px; padding:15px; position:relative; margin-bottom:10px;}
.chatbox p {font-size:14px; color:black;}
.chatbox1 {background-color:#fff; height:100px; padding:15px; position:relative; margin-bottom:10px;}
.chatbox1 p {font-size:14px; color:black;}
.chatbox1 a :hover {text-decoration:none; color:#2874F0; text-decoration:none;}
.chatbox a :hover {text-decoration:none; color:#2874F0; text-decoration:none;}
.date {margin-left: 190px;}
.ordno {position:absolute; top:32px; left:79px;}
.solodec {position:absolute; top:52px; left:79px; font-size:12px!important; color:grey;}
.chhead {padding-top:25px; padding-bottom:3px; padding-left:10px; width:100%; display:flex;}
.chhead img {border-radius:50%;}
.middldiv {background-color:#F1F1F1; height:22rem;}
.typing {width:665px; height:65px; position:fixed; box-shadow: 10px 10px 21px 20px rgba(0,0,0,0.19); display:flex; position:relative;}
.typing input {width:520px; height:40px; font-size:18px; border:none; position:absolute; left:50px; top:10px;}
.typing input:focus {outline:none;}
.firsti {color:#2874F0; width:50px; height:50px; position:absolute; left:10px; top:15px;}
.seci {color:#2874F0; width:50px; height:50px; position:absolute; left:38rem; top:15px;}
.chtdiv {width:300px; background:#fff; padding:20px; border-radius:25px; border-top-left-radius: 0px;}
.chtdiv2 {width:300px; background:#fff; padding:20px; border-radius:25px; border-top-left-radius: 0px; float:right; margin-right:25px;}
/* -----------------Dekstop and laptopes --------------------- */
              @media (min-width: 1024px){
                  
        
              }

                /* ----------------- Tablates --------------------- */
               @media (min-width: 769px) and (max-width: 1023px){
                  
                  
               }

              /*--------------------- Mobile Phones----------------------------*/
			@media (max-width: 768px){
              .menu2dropdown {display: none;}
              .secdivright{width:20rem; height: 85rem;}
              .Maindiv {width:85%; margin-left: 40px;}
			}

			@media (max-width: 468px){}