*{
	padding: 0px; 
	scroll-behavior:smooth; 
	margin: 0px; 
	box-sizing: border-box; 
	font-family:font-family: Roboto,Arial,sans-serif;
}
.navbar {
	background-color:#ff9a3c; 
	padding-left:50px!important; 
}

.logo {
	width:130px;
}

.login {
	width:130px; 
	height:40px; 
	margin-left:20px;
	border-radius:20px; 
	padding-left:30px;
	padding-top:5px;
	text-decoration:none;
	color:black;
	border:1px solid black;
}

.country {
	color: black; 
	margin-left:10px;
}

.country:hover{
	color: black; 
	text-decoration:none;
}

.login:hover{
	color:black; 
	text-decoration:none;
}

.navbar-nav li{
	padding-left:15px;
}

.dropdown-item {
	color:#2F1C6A!important;
}

.cnicon {
	font-size:20px!important;
}

.cart {
	width:130px; 
	height:40px; 
	margin-left:18px; 
	padding-top:5px;
	text-decoration:none;
	color:black;
    font-size:19px;
}

.cart:hover{
	color:black; 
	text-decoration:none;
}

/* Navbar End */

/* Front View Start */
.frontview {
	min-height:812px;
	background-color:#ff9a3c;
}

.frontrow {
	min-height: 650px; 
    border: 3px solid #fff;
    width:65rem;
    margin-left: 140px!important;
    margin-top: 50px!important;
}

.firstimg img {
	width:25rem!important;
	height:20rem!important;
	position: absolute;
    left:-40%;
    top:15%;
}

.secimg img {
	width:25rem!important;
	height:20rem!important;
	position: absolute;
    left:-10%;
    top:55%;
}

.firsthed {
	font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 700;
    text-align:center;
} 

.centerfrontdv {
	padding-bottom: 40px!important;
	padding-top: 40px!important;
	color:#035aa6;
	position:absolute;
}

.upto {
	font-weight:500;
	text-align:center;
	padding-top:10px;
	margin-bottom: 0rem;
}

.discounth {
	font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 700;
    text-align:center;
}

.detwp {
	font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 700;
    text-align:center;
    margin-top:25px;
}

.ssl {
	text-align:center;
    margin-top:20px;
    font-size:1rem;
    font-weight:500;
}  

.ssl1 {
	text-align:center;
    margin-top:20px;
    font-size:1rem;
    font-weight:500;
}

.tmsec {
	display:flex;
    padding:10px;
    justify-content:center;
    list-style:none;
}  

.tmfirst {
	width:300px; 
	margin-left:6rem;
}  

.tmbox {
	width:70px; 
	height:70px;
    background-color:#fff; 
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:10px; 
}       	                

.strtbox {
	cursor:pointer; 
	margin-left:100px; 
	background-color:#a20a0a; 
	display:flex; 
	justify-content:center; 
	align-items:center; 
	width:300px; 
	height:60px; 
	border-radius:30px;
}

.strtnow {
	color:#fff;
    font-weight:700;
}

.strtnow:hover {
	color:#fff; 
	text-decoration:none;
}

.guaranty {
	margin-left:140px; 
	margin-top:20px;
}
/* Front View End */

/* Button Box Start */
 .button-box {
 	width:700px;
 	padding: 5px;
 	margin:35px auto;
 	position:relative;
 	box-shadow: 0 0 20px 0px black;
 	border-radius:30px;
 }

 .toogle-btn {
 	padding: 10px 30px;
 	cursor:pointer;
 	background:transparent;
 	border:0;
 	outline:none;
 	position:relative;
 	font-weight:700;
 	color:#2F1C6A;
 }

 #btn {
 	top:0;
 	left:0;
 	position:absolute;
 	width:250px;
 	height:100%;
 	background:linear-gradient(to right, #ea2c62, #a20a0a);
 	border-radius:30px;
 	transition:.5s;
 }

.searchsec {
	min-height:450px;
	background-color:#fad5ad;
	text-align:center;
}

.serchdiv {
	display:flex; 
	min-height:450px;
	justify-content:center; 
	align-items:center;
}

.srchbox {
	width:400px;
	background-color:#fff;
    border-radius:25px;
	line-height:2.8rem;
	position: relative;
	box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.10);

}

.usricon {
	color:#a20a0a;
}

.srchbox input {
	width:600px;
	outline:none;
	border:none;
	border-radius:25px;
	position:absolute; 
	left: 40%;
}

.srchbox input:focus {border:2px solid #a20a0a;}
.srchbox a {
	position:absolute;
	top:-7%;
	right:-90%;
	padding:3px 45px;
	background-color:#a20a0a;
	color:#fff;
	border-radius:25px;
}

.srchbox a:hover {
	color:#fff;
	text-decoration:none;
}

/* Button Box End */
.img-fluid {
	border:2px solid #a20a0a;
    width:450px;
    }
.mngrdv {text-align:center; line-height:2rem; margin-bottom:40px;}
.mngrdv a {color:#fff; width:250px; padding:17px 70px; border-radius:25px; height:25px; background-color:#a20a0a}
.mngrdv a:hover {color:#fff; text-decoration:none;}
.features {list-style:none; padding:20px 10px;}
.fa-check {color:#1EA176;}
.fa-times {color:red;}
.topcrd {text-align:center;}
.card {
	padding:50px 25px;
	margin-left:40px;
	margin-bottom:40px!important;
	overflow:hidden;
	transition: all linear 0.3s;
}

.card:hover {
	box-shadow: 2px 2px 50px 0px grey;
	 transform:scale(1.05);
}

.dic {padding:10px 15px; background-color:#ea2c62; color:#fff; border-radius:25px;}
.pris {
	padding-top:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#a20a0a;
}
.pris h2 {
	font-weight:800;
	font-size:50px;
	color:#a20a0a;
}
.addtocrt {
	font-size:20px;
	font-weight:700;
	color:#fff;
	background-color:#a20a0a;
	padding:5px 60px;
	border-radius:20px;
}

.addtocrt:hover {
	color:#fff;
	text-decoration:none;
}

.mstpopular {
	width:450px;
	margin-left:-30px;
	text-align:center;
	padding-right:120px;
	background-color:#ea2c62;
	line-height:2.5rem;
	color:#fff;
}

.renew {margin-top:10px; color:grey;}
.fetyurbtn {
	font-weight:700;
	text-align:center;
}
.plansec {min-height:500px;}

















@media (max-width:280px){

 .frontrow {
	height:70rem; 
    border:none	;
    width:16rem;
    margin-left:0px!important;
    margin-top: 10px!important;
    overflow: hidden;
}
  .firstimg {
	display:none!important;
}
  .country {
 	visibility: hidden;
 	display:none;
 	margin-left:-60px;
 }

  .tmfirst {
	width:100px; 
	margin-left:0.5rem;
}  
  .strtbox {
	margin-left:0px;  
	width:230px; 
	height:50px; 
}

  .guaranty {
	margin-left:10px; 
	margin-top:15px;
	text-align:center;
}

.secimg img {
	width:20rem!important;
	height:18rem!important;
	position: absolute;
    left:0%;
    top:-140%;
}
 .firsthed {
	padding-top:0px;
} 
.brandiv {padding-left:10rem!important;}
/* Button Box Start */
 .button-box {
 	width:200px;
 	padding: 5px;
 	margin:35px auto;
 	position:relative;
 	box-shadow: 0 0 20px 0px black;
 	border-radius:30px;
 }

 .toogle-btn {
 	padding: 10px 30px;
 	cursor:pointer;
 	background:transparent;
 	border:0;
 	outline:none;
 	position:relative;
 	font-weight:700;
 	color:#fff;
 }

 #btn {
 	top:0;
 	left:0;
 	position:absolute;
 	width:200px;
 	height:100%;
 	background:linear-gradient(to right, #673DE6, #2F1C6A);
 	border-radius:30px;
 	transition:.5s;
 }

.srchbox {
	width:200px;
	background-color:#fff;
    border-radius:25px;
	line-height:2rem;
	position: relative;
}

.srchbox input {
	width:200px;
	outline:none;
	border:none;
	border-radius:25px;
	position:absolute; 
	left:0%;
}

.srchbox a {
	position:absolute;
	top:-7%;
	right:0%;
	padding:2px 15px;
	background-color:#673DE6;
	color:#fff;
	border-radius:25px;
}
.card {
	margin-left:-10px;
}
.addtocrt {
	font-size:15px;
	font-weight:600;
	color:#fff;
	background-color:#673DE6;
	padding:2px 15px;
	border-radius:20px;
}
.dic {padding:7px 10px; font-size:10px; background-color:#673DE6; color:#fff; border-radius:25px;}
} 
/* Button Box End */




@media (min-width:280px) and (max-width:375px){
	.frontrow {
	height:56rem; 
    border:none	;
    width:16rem;
    margin-left:20px!important;
    margin-top: 10px!important;
    overflow: hidden;
}
  .firstimg {
	display:none!important;
}
  .tmfirst {
	width:100px; 
	margin-left:0.5rem;
}  
  .strtbox {
	margin-left:0px;  
	width:230px; 
	height:50px; 
}

  .guaranty {
	margin-left:10px; 
	margin-top:15px;
	text-align:center;
}

.secimg {display:none; height:0px;}
.secimg img {
	display:none;
	width:0rem!important;
	height:0rem!important;
	position: absolute;
    left:0%;
    top:0%;
}
 .firsthed {
	padding-top:0px;
} 
 .country {
 	visibility: hidden;
 	display:none;
 	margin-left:0px;
 }
 .brandiv {padding-left:3rem!important;}
 /* Button Box Start */
 .button-box {
 	width:200px;
 	padding: 5px;
 	margin:35px auto;
 	position:relative;
 	box-shadow: 0 0 20px 0px black;
 	border-radius:30px;
 }

 .toogle-btn {
 	padding: 10px 30px;
 	cursor:pointer;
 	background:transparent;
 	border:0;
 	outline:none;
 	position:relative;
 	font-weight:700;
 	color:#fff;
 }

 #btn {
 	top:0;
 	left:0;
 	position:absolute;
 	width:200px;
 	height:100%;
 	border-radius:30px;
 	transition:.5s;
 }

 .srchbox {
	width:300px;
	background-color:#fff;
    border-radius:25px;
	line-height:2rem;
	position: relative;
}

.srchbox input {
	width:250px;
	outline:none;
	border:none;
	border-radius:25px;
	position:absolute; 
	left:0%;
}

.srchbox a {
	position:absolute;
	top:-7%;
	right:15%;
	color:#fff;
	border-radius:25px;
}
.card {
	margin-left:35px;
}
/* Button Box End */
}


@media (min-width:410px) and (max-width:450px){
	.frontrow {
	height:66rem; 
    border:none	;
    width:16rem;
    margin-left:60px!important;
    margin-top: 10px!important;
    overflow: hidden;
}
  .firstimg {
	display:none!important;
}
  .tmfirst {
	width:100px; 
	margin-left:0.5rem;
}  
  .strtbox {
	margin-left:0px;  
	width:230px; 
	height:50px; 
}

  .guaranty {
	margin-left:10px; 
	margin-top:15px;
	text-align:center;
}

.secimg img {
	width:15rem!important;
	height:12rem!important;
	position: absolute;
    left:0%;
    top:-140%;
}
 .firsthed {
	padding-top:0px;
} 
 .country {
 	visibility: hidden;
 	display:none;
 	margin-left:0px;
 }
 .brandiv {padding-left:6rem!important;}
 /* Button Box Start */
 .button-box {
 	width:200px;
 	padding: 5px;
 	margin:35px auto;
 	position:relative;
 	box-shadow: 0 0 20px 0px black;
 	border-radius:30px;
 }

 .toogle-btn {
 	padding: 10px 30px;
 	cursor:pointer;
 	background:transparent;
 	border:0;
 	outline:none;
 	position:relative;
 	font-weight:700;
 	color:#fff;
 }

 #btn {
 	top:0;
 	left:0;
 	position:absolute;
 	width:200px;
 	border-radius:30px;
 	transition:.5s;
 }

 .srchbox {
	width:250px;
	background-color:#fff;
    border-radius:25px;
	line-height:2rem;
	position: relative;
}

.srchbox input {
	width:250px;
	outline:none;
	border:none;
	border-radius:25px;
	position:absolute; 
	left:20%;
}

.srchbox a {
	position:absolute;
	top:-7%;
	right:-30%;
	padding:2px 15px;
	color:#fff;
	border-radius:25px;
}
.card {
	margin-left:35px;
}
/* Button Box End */
}



@media (min-width:460px) and (max-width:540px){
	.frontrow {
	height:58rem; 
    border:none	;
    width:30rem;
    margin-left:1rem!important;
    margin-top: 10px!important;
    overflow: hidden;
}
  .firstimg {
	display:none!important;
}
  .tmfirst {
	width:100px; 
	margin-left:10rem;
}  
  .strtbox {
	margin-left:80px;  
	width:280px; 
	height:50px; 
}

  .guaranty {
	margin-left:0px; 
	margin-top:15px;
	text-align:center;
}

.secimg img {
	width:20rem!important;
	height:18rem!important;
	position: absolute;
    left:10%;
    top:-130%;
}
 .firsthed {
	padding-top:0px;
} 
 .country {
 	visibility: hidden;
 	display:none;
 	margin-left:0px;
 }
 .brandiv {padding-left:10rem!important;}
 /* Button Box Start */
 .button-box {
 	width:200px;
 	padding: 5px;
 	margin:35px auto;
 	position:relative;
 	box-shadow: 0 0 20px 0px black;
 	border-radius:30px;
 }

 .toogle-btn {
 	padding: 10px 30px;
 	cursor:pointer;
 	background:transparent;
 	border:0;
 	outline:none;
 	position:relative;
 	font-weight:700;
 	color:#fff;
 }

 #btn {
 	top:0;
 	left:0;
 	position:absolute;
 	width:200px;
 	height:100%;
 	border-radius:30px;
 	transition:.5s;
 }

 .srchbox {
	width:400px;
	background-color:#fff;
    border-radius:25px;
	line-height:2rem;
	position: relative;
}

.srchbox input {
	width:350px;
	outline:none;
	border:none;
	border-radius:25px;
	position:absolute; 
	left:20%;
}

.srchbox a {
	position:absolute;
	top:-7%;
	right:-10%;
	padding:2px 15px;
	color:#fff;
	border-radius:25px;
}
.card {
	margin-left:15px;
}
/* Button Box End */
}



@media (min-width:550px) and (max-width:768px){
	.frontrow {
	height:75rem; 
    border:none;
    width:38rem;
    padding-left:0rem;
    margin-left:15rem!important;
    margin-top: 40px!important;
    overflow: hidden;
}
  .firstimg {
	display:none!important;
}
  .tmfirst {
	width:200px; 
	margin-left:4rem;
}  
  .strtbox {
	margin-left:25px;  
	width:280px; 
	height:50px; 
}

  .guaranty {
	margin-left:90px; 
	margin-top:15px;
	text-align:center;
}


.mstpopular {
	margin-left:-30px;
	text-align:center;
	padding-right:230px;
	background-color:#ea2c62;
	line-height:2.5rem;
	color:#fff;
}
.secimg img {
	width:22rem!important;
	height:21rem!important;
	position: absolute;
    left:-210%;
    top:75%;
}
 .firsthed {
	padding-top:0px;
} 
 .country {
 	visibility: hidden;
 	display:none;
 	margin-left:0px;
 }
 .brandiv {padding-left:0rem!important;}
 /* Button Box Start */
 .button-box {
 	width:200px;
 	padding: 5px;
 	margin:35px auto;
 	position:relative;
 	box-shadow: 0 0 20px 0px black;
 	border-radius:30px;
 }

 .toogle-btn {
 	padding: 10px 30px;
 	cursor:pointer;
 	background:transparent;
 	border:0;
 	outline:none;
 	position:relative;
 	font-weight:700;
 	color:#fff;
 }

 #btn {
 	top:0;
 	left:0;
 	position:absolute;
 	width:200px;
 	height:100%;
 	border-radius:30px;
 	transition:.5s;
 }
 .srchbox {
	width:400px;
	background-color:#fff;
    border-radius:25px;
	line-height:2rem;
	position: relative;
}

.srchbox input {
	width:350px;
	outline:none;
	border:none;
	border-radius:25px;
	position:absolute; 
	left:20%;
}

.srchbox a {
	position:absolute;
	top:-7%;
	right:-10%;
	padding:2px 15px;
	color:#fff;
	border-radius:25px;
 }
.addtocrt {
	font-size:15px;
	font-weight:600;
	color:#fff;
	padding:2px 20px;
	border-radius:20px;
}
.dic {padding:7px 10px; font-size:10px;color:#fff; border-radius:25px;}
} 


/* Button Box End */





@media (min-width:990px) and (max-width:1024px){
	.frontrow {
	  min-height: 650px; 
      border: 3px solid #fff;
      width:52rem;
      margin-left:85px!important;
      margin-top: 50px!important;
 }
 .tmfirst {
	width:300px; 
	margin-left:3rem;
 }  

 .strtbox {
	cursor:pointer; 
	margin-left:50px; 
	background-color:#FC5185; 
	display:flex; 
	justify-content:center; 
	align-items:center; 
	width:300px; 
	height:60px; 
	border-radius:30px;
 }

 .guaranty {
	margin-left:90px; 
	margin-top:20px;
}

.secimg img {
	width:20rem!important;
	height:20rem!important;
	position: absolute;
    left:-10%;
    top:56%;
}
.addtocrt {
	font-size:18px;
	font-weight:600;
	color:#fff;
	padding:5px 30px;
	border-radius:20px;
}
.dic {padding:7px 10px; font-size:10px;color:#fff; border-radius:25px;}
}