* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family:font-family: Roboto,Arial,sans-serif;
}
#header {
   background-color:#ff9a3c;
   height:100vh;
   width:100%;
   overflow:hidden;
}

.slh {
	color:#2F1C6A;
	font-weight:700;
	font-size:2.8rem;
}

.hedpar {
	font-weight:400;
    margin-bottom:2rem;
}

.getstrtbtn {
	background-color:#a20a0a; 
	padding:13px 100px;
	border-radius:30px;
	color:#fff;
	font-weight:500;
}

.getstrtbtn:hover{
	color:#fff;
	text-decoration:none;
}

.hedbord {
   border-radius:20px;
   margin-left:90px;
   margin-top:20px;
   padding:50px 20px;
   text-align:center;
}

.hedimg {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	margin-top:30px;
}

.hedimgp {
	position:absolute;
	top:70%;
	left:20%;
	background-color:#fff;
	-webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    box-shadow: 20px 20px 100px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 15px;
}

/* Pricing Css */
.populr {
	background-color:#04f110;
	color:#fff;
	padding:6px 5.62rem;
	position:absolute;
	top:0%;
	left:0%;
}

.workshpln {
	padding-top:5rem;
}

.carddiv {
	display:flex;
	justify-content:center;
	align-items:center;
}

.scard {
	-webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding:50px 40px;
    margin-bottom:3rem;
    position:relative;
    transition:all 0.2s linear;
}

.scard:hover{
	-webkit-box-shadow: 1px 1px 12px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 12px rgb(0 0 0 / 10%);
    transform:scale(1.05);
}

.colhed {
	color:#2F1C6A;
}

.secp {
	font-weight:700;
	font-size:1.5rem;
	color:#2F1C6A;
	margin-top:10px;
}

.sech {
	font-size:3rem;
	font-weight:700;
	color:#2F1C6A;
	padding-top:10px;
}

.secmonth {
	font-size:17px;
	font-weight:700;
	color:#2F1C6A;
	margin-top:40px;
}

.prslog {
	font-size:14px;
	text-align:center;
	color:grey;
	font-weight:400;
	margin-top:25px;
	margin-bottom:30px;
}

.discont {
	background-color:#eb8212;
	color:#fff;
	padding:2px 10px;
	border-radius:30px;
	margin-left:10px;
}

.Cartbtn {
	background-color:#eb8212;
	color:#fff;
	padding:14px 90px;
	font-weight:500;
	border-radius:30px;
}

.Cartbtn:hover{
	color:#fff;
	text-decoration:none;
}

.allfetr {
	color:#2F1C6A;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}

.allffa{
	color:#2F1C6A;
    font-weight:500;
}

.allffa:hover{
	color:#2F1C6A;
	text-decoration:none;
}
/* Pricing Css End */

/* Compare Css */
.precon {
	-webkit-box-shadow: 1px 1px 12px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 12px rgb(0 0 0 / 10%);
    height:35rem;
    margin-bottom:30px;
}

.middlediv {
	height:18rem;
	overflow:scroll;
	width:100%;
}

.middlediv::-webkit-scrollbar{
	width:0;
}

.tr {
	padding:7px 2px;
}

.secartbt {
	color:#2F1C6A;
	background-color:#fff;
	border:2px solid #2F1C6A;
	padding:8px 40px;
	border-radius:20px;
	font-weight:600;
}

.secartbt:hover{
	color:#2F1C6A;
	text-decoration:none;
}

.aboutemail {
	margin-top:6rem;
}

.abtfirst {
	padding-top:9rem;
}

.btnlrnmr {
	color:#2F1C6A;
	text-decoration:underline;
}
/* Compare Css End */

/*Why Choose Start */
.whychhos {
	width:100%; 
	min-height:48rem;
	background-color:#ffaf69;
	padding-top:5rem;
	margin-top:1rem;
}

.secwhychoosdv {
	margin-top:4rem;
}
/*Why Choose End */

.emailstp {
	margin-top:4em;
}

/* Tutorials start */
.cstutorials {
	min-height:35rem;
	background-color:#ffaf69;
	padding:50px 0px 20px 0px;
}
.trcrd {
	margin-bottom:3rem;
}
/* Tutorials End */

/* Guranty Start */
.mngr {
	width:100%; 
	min-height:300px;
/* 	background-color:#ffaf69; */
	padding-top:5rem;
	margin-top:1rem;
 }
.mngrdv {display:block; text-align:center;}
.mnh {
	color:#2F1C6A;
	font-weight:700;
}
.getsrt {
	color:#fff;
	background-color:#2F1C6A;
	padding:12px 75px; 
	font-weight:700;
	border-radius:30px;
}
.getsrt:hover {
	color:#fff;
	text-decoration:none;
} 
.lrnmr {
    color:#2F1C6A;
    text-decoration:underline;
}
/* Guranty End */


/* Colapse Start */
.askqssec {
	margin-top:6rem;
	margin-bottom:6rem;
}

.colla {
	color:#2F1C6A;
}

.colla:hover{
	text-decoration:none;
	color:#2F1C6A;
}

.addcardbg {
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
/* Colapse End */









/* Mobile View */
@media (max-width:768px){
	 .populr {
	      padding:6px 6.31rem;
	  }
	 .mfse {
    	padding:15px 0px;
    }
    .msse {
    	padding:15px 0px 15px 0px;
    }
    .mste {
    	padding:35px 0px 15px 0px;
    }
    .msfotse {
    	padding:15px 0px 15px 0px;
    }
    .msfivs {
    	padding:35px 0px 15px 0px;
    }
    .secartbt {
	padding:0px;
	border:none;
	font-weight:600;
     }
}